body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(./teacher-3679814_640.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#head{
  width: 80%;
  background-color: #03a9f4;
  color: #f0f0f0;
  margin: auto;
  margin-top: 0px;
  font-family:cursive;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
#restart{
  width: 100px;
  margin-left: 10px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1df306;
  box-shadow: 2px 2px 2px 2px #444;
  &:hover{
    background-color: #88ef7d;
  }
}
h1{
  width: 70%;
}
#time{
  width: 30%;
  display: flex;
  align-items: center;
  gap: 20px;
}
#btn-start{
  width: 60px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1df306;
  box-shadow: 2px 2px 2px 2px #444;
  &:hover{
    background-color: #88ef7d;
  }
}
.btn-reset{
  width: 60px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1df306;
  box-shadow: 2px 2px 2px 2px #444;
  &:hover{
    background-color: #88ef7d;
  }
}
#countdown{
  font-size: 25px;
}
.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px
}
.wheel-container {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  transition: transform 1s ease;
}
.move{
  transform: translateX(-500px); 
}
.move_question{
  transform: translateX(1000px); 
}
.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  transform: rotate(0deg);
  transition: transform 2s ease-out;
}
.section {
  font-size: 35px;  
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #ffc107;
  border: 1px solid #444;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  transform-origin: 100% 100%;
}
.section:nth-child(1) { transform: rotate(0deg); background-color: #ff5722; }
.section:nth-child(2) { transform: rotate(60deg); background-color: #ff9800; }
.section:nth-child(3) { transform: rotate(120deg); background-color: #8bc34a; }
.section:nth-child(4) { transform: rotate(180deg); background-color: #03a9f4; }
.section:nth-child(5) { transform: rotate(240deg); background-color: #673ab7; }
.section:nth-child(6) { transform: rotate(300deg); background-color: #e91e63; }
button {
  padding: 10px 10px;
  font-size: 16px;
  background-color: #1df306;
  color: rgb(46, 4, 233);
  border:1px solid  #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}
button:hover {
  background-color: #0056b3;
  color: #f0f0f0;
}
.hidden {
  display: none;
}
.question_container{
    width: 70%;
}
.question {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white; 
  position: relative;
    transition: transform 1s ease;
}
hr{
  width: 80%;
}
.wc_hidden{
  transform: translateX(-500px); 
}
@media (max-width: 1000px) {
  .container{
    flex-direction: column;
  }
  #head{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #head h1{
    width: 95%;
    font-size: 18px;
    }
  #head input{
    font-size: 18px;
    margin-top: 5px;
  }
  #head #time{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }  
  .wheel-container{
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
  }
  .section{
    font-size: 12px;
  }
  button{
    padding: 3px;
    margin-top: 25px;
  }
  .question_container{
    width: 100%;
  }
  .question{
    font-size: 19px;
  }
}
